{
  "ibmcloud_api_key": $VALIDATION_APIKEY,
  "resource_group_name": $PREFIX,
  "tags": $TAGS,
  "existing_kms_instance_crn": $HPCS_US_SOUTH_CRN,
  "kms_endpoint_url": $HPCS_US_SOUTH_PRIVATE_ENDPOINT
}
